@import 'material-design-icons/iconfont/material-icons.css';

// Variables //

$color-primary: #651FFF;
$color-primary-light: #A255FF;
$color-primary-dark: #0100CA;
$color-text: #000D;
$color-danger: #E00;

$mobile: "max-width: 768px";

// Global Styles //

html, body {
    height: 100%;
    margin: 0;
    color: $color-text;
    font-family: sans-serif;
}

* { box-sizing: border-box; }
h1, h2, h3 { font-weight: normal; }
label { display: block; }
small { opacity: 0.67; }
table { border-spacing: 0; }
td { padding: 0; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
label { margin: 8px 0; }
input { margin-left: 0; }
form { margin: 0 0 16px 0; }

fieldset, legend {
    border: 0;
    padding: 0;
    margin: 0;
}

// Letterboxing //

.letterbox {
    width: 100%;
    max-width: 768px + 2 * 16px;
    margin: 0 auto;
    padding: 0 16px;
}

// Buttons //

.icon-button, .text-button {
    border: 0;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px;
    margin: -8px;
}

.icon-button:disabled, .text-button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.text-button {
    font: inherit;
    text-transform: uppercase;
    color: $color-primary;
}

.icon-button:active,
.text-button:active {
    background: #0001;
}

.text-button.danger {
    color: $color-danger;
}

// Body + Navbar + Main Area //

body {
    display: flex;
}

#main {
    overflow: auto;
    flex: 1;
}

#navbar {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#navbar a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 16px;
}

#navbar a.active {
    color: $color-primary;
}

#navbar a:active {
    color: $color-primary-dark;
}

.nav-label {
    margin: 0 0 0 16px;
}

@media ($mobile) {
    body {
        flex-direction: column-reverse;
    }

    #navbar {
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid #0001;
    }

    #navbar a {
        flex-direction: column;
        padding: 4px;
    }

    .nav-label {
        font-size: 0.67em;
        margin: 2px 0 0 0;
    }

    .nav-icon {
        font-size: 28px;
    }
}

// Shapes //

.rounded-rectangle {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: .25em;
    background: currentColor;
}

// Settings //

.settings-calendars td:nth-child(2) {
    width: 100%;
    padding: 4px 8px;
    p { margin: 4px 0; }
}

.settings-calendars:not(:empty) {
    margin: 1em 0;
}

// Modals //

.modal-backdrop {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: #0004;
}

.modal-content {
    background: #FFF;
    border-radius: 4px;
    padding: 0 16px;

    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.1s;

    width: calc(100% - 32px); height: auto;
    max-width: 768px; max-height: calc(100% - 32px);
    overflow: auto;
}

.modal {
    pointer-events: none;
    transition: opacity 0.1s;
    opacity: 0;
}

.modal-open {
    pointer-events: auto;
    opacity: 1;
}

.modal-open .modal-content {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    display: flex;
    align-items: center;
}

.modal-header h2 {
    margin-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modal-header .text-button {
    margin-left: auto;
}

// Input //

.label {
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 16px 0;
}

.text-input {
    display: block;
    font-size: 1em;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #0004;
    margin: 4px 0;
}

.text-input:focus {
    outline: none;
    border-color: $color-primary-light;
}

// Color Picker //

.color-picker {
    $size: 26px;

    margin: 1px -3px;
    width: ($size + 6px) * 6;
    display: flex;
    flex-wrap: wrap;

    input {
        appearance: none;
        margin: 3px;
        width: $size;
        height: $size;
        line-height: $size;
        cursor: pointer;
        border-radius: 25%;
        background: currentColor;
        text-align: center;
        font-size: 16px;

        &:checked::before {
            content: '✔';
            color: white;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $color-primary-light;
        }
    }
}
